<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>solutes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Arsenous acid</string>
				<key>Ka</key>
				<array>
					<real>6e-10</real>
				</array>
				<key>pKa</key>
				<array>
					<real>9.220000000000001</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Boric acid</string>
				<key>Ka</key>
				<array>
					<real>5.8e-10</real>
				</array>
				<key>pKa</key>
				<array>
					<string>0.24</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Hydrocyanic acid</string>
				<key>Ka</key>
				<array>
					<real>6.2e-10</real>
				</array>
				<key>pKa</key>
				<array>
					<real>9.210000000000001</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Hydrofluoric acid</string>
				<key>Ka</key>
				<array>
					<real>0.00066</real>
				</array>
				<key>pKa</key>
				<array>
					<real>3.18</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Nitous acid</string>
				<key>Ka</key>
				<array>
					<real>0.00051</real>
				</array>
				<key>pKa</key>
				<array>
					<real>3.29</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Hydrogen peroxide</string>
				<key>Ka</key>
				<array>
					<real>1.8e-12</real>
				</array>
				<key>pKa</key>
				<array>
					<real>11.75</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Hydrogen sulfate anion</string>
				<key>Ka</key>
				<array>
					<real>0.01</real>
				</array>
				<key>pKa</key>
				<array>
					<real>1.99</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Formic acid</string>
				<key>Ka</key>
				<array>
					<real>0.00018</real>
				</array>
				<key>pKa</key>
				<array>
					<real>3.74</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Acetic acid</string>
				<key>Ka</key>
				<array>
					<real>1.8e-05</real>
				</array>
				<key>pKa</key>
				<array>
					<real>4.74</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Monochloroacetic acid</string>
				<key>Ka</key>
				<array>
					<real>0.0014</real>
				</array>
				<key>pKa</key>
				<array>
					<real>2.86</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Dichloroacetic acid</string>
				<key>Ka</key>
				<array>
					<real>0.05</real>
				</array>
				<key>pKa</key>
				<array>
					<real>1.3</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Trichloroacetic acid</string>
				<key>Ka</key>
				<array>
					<real>0.23</real>
				</array>
				<key>pKa</key>
				<array>
					<real>0.64</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Lactic acid</string>
				<key>Ka</key>
				<array>
					<real>0.00014</real>
				</array>
				<key>pKa</key>
				<array>
					<real>3.86</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Benzoic acid</string>
				<key>Ka</key>
				<array>
					<real>6.2e-05</real>
				</array>
				<key>pKa</key>
				<array>
					<real>4.21</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Penol</string>
				<key>Ka</key>
				<array>
					<real>1.1e-10</real>
				</array>
				<key>pKa</key>
				<array>
					<real>9.949999999999999</real>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Monoprotic Acid</string>
	</dict>
	<dict>
		<key>solutes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Pyroboric acid</string>
				<key>Ka</key>
				<array>
					<real>0.0001</real>
					<real>1e-09</real>
				</array>
				<key>pKa</key>
				<array>
					<real>4</real>
					<real>9</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Carbonic acid</string>
				<key>Ka</key>
				<array>
					<real>4.2e-07</real>
					<real>5.6e-11</real>
				</array>
				<key>pKa</key>
				<array>
					<real>6.38</real>
					<real>10.25</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Chromic acid</string>
				<key>Ka</key>
				<array>
					<real>0.0001</real>
					<real>3.2e-07</real>
				</array>
				<key>pKa</key>
				<array>
					<real>0.74</real>
					<real>6.5</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Phosphorous acid</string>
				<key>Ka</key>
				<array>
					<real>0.05</real>
					<real>2.5e-07</real>
				</array>
				<key>pKa</key>
				<array>
					<real>1.3</real>
					<real>6.6</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Hydrosulfuric acid</string>
				<key>Ka</key>
				<array>
					<real>1.3e-07</real>
					<real>1e-14</real>
				</array>
				<key>pKa</key>
				<array>
					<real>6.88</real>
					<real>14.15</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Sulfurous acid</string>
				<key>Ka</key>
				<array>
					<real>0.013</real>
					<real>6.3e-08</real>
				</array>
				<key>pKa</key>
				<array>
					<real>1.9</real>
					<real>7.2</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Metasilicic acid</string>
				<key>Ka</key>
				<array>
					<real>1.7e-10</real>
					<real>1.6e-12</real>
				</array>
				<key>pKa</key>
				<array>
					<real>9.77</real>
					<real>11.8</real>
				</array>				
			</dict>
			<dict>
				<key>name</key>
				<string>Oxalic acid</string>
				<key>Ka</key>
				<array>
					<real>0.059</real>
					<real>6.4e-05</real>
				</array>
				<key>pKa</key>
				<array>
					<real>1.22</real>
					<real>4.19</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>d-Tartaric acid</string>
				<key>Ka</key>
				<array>
					<real>0.00091</real>
					<real>4.3e-05</real>
				</array>
				<key>pKa</key>
				<array>
					<real>3.04</real>
					<real>4.37</real>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Phthalic acid</string>
				<key>Ka</key>
				<array>
					<real>0.0011</real>
					<real>3.9e-05</real>
				</array>
				<key>pKa</key>
				<array>
					<real>2.95</real>
					<real>5.41</real>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Diprotic Acid</string>
	</dict>
	<dict>
		<key>solutes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Arsenic acid</string>
				<key>Ka</key>
				<array>
					<real>0.0063</real>
					<real>1e-07</real>
					<real>3.2e-12</real>
				</array>	
				<key>pKa</key>
				<array>
					<real>2.2</real>
					<real>7</real>
					<real>11.5</real>
				</array>				
			</dict>
			<dict>
				<key>name</key>
				<string>Phosphoric acid</string>
				<key>Ka</key>
				<array>
					<real>0.0076</real>
					<real>6.3e-08</real>
					<real>4.4e-13</real>
				</array>
				<key>pKa</key>
				<array>
					<real>2.12</real>
					<real>7.2</real>
					<real>12.36</real>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Triprotic Acid</string>
	</dict>
	<dict>
		<key>solutes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Pyrophosphoric acid</string>
				<key>Ka</key>
				<array>
					<real>0.03</real>
					<real>0.0044</real>
					<real>2.5e-07</real>
					<real>5.6e-10</real>	
				</array>
				<key>pKa</key>
				<array>
					<real>1.52</real>
					<real>2.36</real>
					<real>6.6</real>
					<real>9.25</real>	
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Tetraprotic Acid</string>
	</dict>
	<dict>
		<key>solutes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Ammonia</string>
				<key>Kb</key>
				<array>
					<real>1.8e-05</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>4.74</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Hydroxylamine</string>
				<key>Kb</key>
				<array>
					<real>9.1e-09</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>8.039999999999999</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Methylamine</string>
				<key>Kb</key>
				<array>
					<real>0.00042</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>3.38</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethylamine</string>
				<key>Kb</key>
				<array>
					<real>0.00056</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>3.25</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Dimethylamine</string>
				<key>Kb</key>
				<array>
					<real>0.00012</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>3.93</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Diethylamine</string>
				<key>Kb</key>
				<array>
					<real>0.0013</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>2.89</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethanolamine</string>
				<key>Kb</key>
				<array>
					<real>3.2e-05</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>4.5</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Triethanolamine</string>
				<key>Kb</key>
				<array>
					<real>5.8e-07</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>6.24</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Urotropine</string>
				<key>Kb</key>
				<array>
					<real>1.4e-09</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>8.85</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Pyridine</string>
				<key>Kb</key>
				<array>
					<real>1.7e-09</real>	
				</array>
				<key>pKb</key>
				<array>
					<real>8.77</real>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Monoprotic Base</string>
	</dict>
	<dict>
		<key>solutes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Diamine</string>
				<key>Kb</key>
				<array>
					<real>3e-06</real>
					<real>9.599999999999999e-13</real>
				</array>
				<key>pKb</key>
				<array>
					<real>5.52</real>
					<real>14.12</real>	
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Ethylenediamine</string>
				<key>Kb</key>
				<array>
					<real>8.500000000000001e-05</real>
					<real>7.1e-08</real>
				</array>
				<key>pKb</key>
				<array>
					<real>4.07</real>
					<real>7.15</real>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Diprotic Base</string>
	</dict>
</array>
</plist>
